button{
    border: none;
    background-color: white;
}
.text{
    font-size: 15px;
}
.wd-banner{
    width: 100%;
}

.wd-profile-image{
    position: sticky;
    margin-left: 15px;
    top: 170px;
    margin-top: -70px;

}
.btn-primary.override-bs{
    border: 1px solid #a9a9a9;
    background-color: white;
    color: black;
}
textarea {
    resize: none;
    height: 100px;
}