body{
    font-family: "Times New Roman", Times, serif;
}
.wd-nudge-up {
    bottom: 32px;
    left: 20px;
}
.nav-item.active.override-bs{
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color:#0d6efd;
    text-underline-offset: 0.5rem;
    background-color: transparent !important;
}
a:Link{
    text-decoration: none;
}
.wd-background{
    background-color: darkgrey !important;
    font-style: italic;
}
